name: integration
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  tests:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2-beta
        with:
          go-version: ${{ matrix.go-version }}
      - name: Build xds-relay binary
        run: make compile
      - name: Build configuration validator tool
        run: make compile-validator-tool
      - name: Run integration tests
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: make integration-tests
